html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.wrapper:after {
  content: "";
  display: block;
}

.header, .wrapper:after {
  height: 4em;
}

.header {
  $base-spacing: 1em;
  $action-color: #477DCA;
  //$medium-screen: em(640);
  //$large-screen: em(860);
  $header-background: desaturate(darken($action-color, 20%), 30%);
  $header-color: white;
  $header-link-color: transparentize($header-color, 0.6);
  $header-disclaimer-color: transparentize($header-color, 0.6);

  background: $header-background;
  padding: $base-spacing;
  width: 100%;
  display: inline-block;

  ul {
    line-height: 1.8em;
    margin: 0 0 0 1em;
    padding: 0;
    float: left;
  }

  ul li {
    list-style: none;
    padding-right: 1em;
    display: inline;
    text-align: left;
  }

  ul li a {
    color: $header-link-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: transparentize($header-color, 0);
    }
  }

  .header-secondary-links {
    float: right;

    li {
      font-size: 0.8em;
    }
  }
}
