@import "bourbon";
@import "base/base";
@import "neat";

@import "base/header";
@import "base/checklist";

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

body {
    @include outer-container;
    margin-bottom: 0px;
    margin-top: 0px;
}

.checklist, .generic_list, .controls {
    @include span-columns(12);
    @include media($large-screen) {
        @include span-columns(6);
        @include shift(3);
    }
}

.checklist {
    @include omega();
}

.controls {
    margin-bottom: 10px;
    margin-top: 10px;
}

select {
    margin-bottom: 1em;
}

select.inline {
    display: inline-block !important;
    margin-right: 1em;
}

button.close {
    background: #f05f5c;
}

.text-center {
    text-align: center;
}
