<div class="breadcrumb">{{#link-to "checklists"}}&lt; back{{/link-to}}</div>

<h2>{{model.name}}</h2>

<ul class="checklist">
    {{#each sortedList as |listItem|}}
        {{#if listItem.ingredient}}
            {{checklist-ingredient model=listItem}}
        {{else}}
            {{checklist-item model=listItem}}
        {{/if}}
    {{/each}}
</ul>
