<div class="header">
    <ul>
        <li><a href="javascript:void(0)">Homepage</a></li>
    </ul>
    <div class="header-secondary-links">
        <ul>
            <!--<li></li>-->
        </ul>
    </div>
</div>

<div class="wrapper">
    <h3>{{#link-to "checklists"}}Checklists{{/link-to}}</h3>
    <h3>{{#link-to "recipes"}}Recipes{{/link-to}}</h3>
</div>
